strong {
    line-height: 0%;
    font-family : "ralewaysemibold";
}

#bloc2 {
    width: auto;
    height: auto;
    display: grid; 
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto;
    grid-column-gap: 40px;
    margin: 0;
    padding: 0;
    align-self: center;
}

#hebergement {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    border-radius: 6mm;
    width: auto;
    height: auto;
    padding: 20px;
}

#hebergement h2 {
    font-family: "ralewaysemibold";
    font-weight: bold;
    line-height: 10px;
    padding-left: 20px;
}

.section1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    background-color: #f2f2f2;
    border-radius: 6mm;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.section1 article {
    background-color: #ffffff;
    border-radius: 6mm;
    border: 3px solid #ffffff;
    width: 250px;
    height: 180px;
    overflow: visible;
    box-shadow: 3px 3px 8px #f2f2f2;
}
.section1 article.one {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.section1 article.two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.section1 article.three {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
}
.section1 article.four {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}
.section1 article.five {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}
.section1 article.six {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.section1 article a {
    text-decoration: none;
    color: black;
}

.section1 img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 60%;
    border-radius: 5.5mm 5.5mm 0 0;
}

.section1 p {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 15px;
}

.section1 .rating i.fa-star.grey {
	color: #f2f2f2;
	cursor: pointer;
	padding: 0.0625rem;
}
.section1 .rating i.fa-star.blue {
	color: #0065fc;
}
.section1 .rating {
		display: inline-flex;
        justify-content: flex-start;
		font-size: 15px;
        padding-left: 15px;
}
.section1 .rating i.fa-star:hover {
		color: #0065fc;
}

#hebergement h4 {
    font-family: 'ralewaysemibold';
    line-height: 10px;
    padding-top: 40px;
    padding-left: 20px;
} 
#hebergement h4 a {
    text-decoration: none;
    color: black;
}

#populaire {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    border-radius: 6mm;
    width: auto;
    height: auto;
    padding: 20px;
}

#populaire h2 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: "ralewaysemibold";
    font-weight: bold;
    line-height: 10px;
}
i.fa-line-chart {
    line-height: 10px;
    padding-right: 20px;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    background-color: #f2f2f2;
    border-radius: 6mm;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.section2 article {
    background-color: #ffffff;
    border-radius: 6mm;
    width: 330px;
    height: 150px;
    border: 3px solid #ffffff;
    overflow: visible;
    box-shadow: 3px 3px 10px #f2f2f2;
}  
.section2 article.one {
    grid-column: 1;
    grid-row: 1 / 3;
}
.section2 article.two {
    grid-column: 1;
    grid-row: 2 / 3;
}
.section2 article.three {
    grid-column: 1;
    grid-row: 3 / 3;
}

.section2 img {
    object-fit: cover;
    max-width: 100%;
    width: 40%;
    height: 100%;
    border-radius: 5.5mm 0 0 5.5mm;
    float: left;
}

.section2 p {
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;*/
}

.section2 .rating i.fa-star.grey {
	color: #f2f2f2;
	cursor: pointer;

}
.section2 .rating i.fa-star.blue {
	color: #0065fc;
}
.section2 .rating {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: left;
	font-size: 15px;
    padding-left: 10px;
}
.section2 .rating i.fa-star:hover {
	color: #0065fc;
}

aside {
    padding-top: 50px;
    padding-bottom: 50px;
}

aside h2 {
    font-family: "ralewaysemibold";
    font-weight: bold;
}

.activite {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (3, 200px);
    grid-gap: 30px;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

.activite img {
    border-radius: 6mm 6mm 0 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.activite figcaption {
    justify-content: left;
    font-family: "ralewaysemibold";
    background-color: #ffffff;
    font-weight: bold;
    width: 100%;
    height: 50px;
    padding: 20px 20px;
}
.activite figure {
    border-radius: 6mm 6mm 6mm 6mm;
    width : auto;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: 5px 5px 20px #f2f2f2;
}
.activite figure.one {
    grid-column: 1;
    grid-row: 1/ span 3;
    height: 600px;
}
.activite figure.two {
    grid-column: 2;
    grid-row: 1/ span 2;
    height: 385px;
}
.activite figure.three {
    grid-column: 2;
    grid-row: 3;
    height: 185px;
}
.activite figure.four {
    grid-column: 3;
    grid-row: 1/ span 3;
    height: 600px;
}
.activite figure.five {
    grid-column: 4;
    grid-row: 1;
    height: 185px;
}
.activite figure.six {
    grid-column: 4;
    grid-row: 2 / span 3;
    height: 385px;
}


